* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}


.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

a
{
   color: #FFF;
}

#notesList.ui-listview
{
   width: 100%;
}

#notesList.ui-listview li
{
   margin: 0;
   white-space: nowrap;
}

#notesList.ui-listview li .ui-inline
{
   position: absolute;
   right: 5px;
   top: 5px;
}

#notesList.ui-listview li .ui-swipe-item-cover-inner
{
   text-overflow: ellipsis;
   overflow: hidden;
}

#editor .ui-scrollview-view
{
   height: 100%;
}

#editor textarea
{
   height: 95%;
   width: 100%;
}
