#login_form {
	margin-top: 30px;
	margin-bottom: 15px;
	width: 100%;
}

#login_social li a {
	width: 47%;
}

#login_social li a img {
	height: 15px;
	margin-bottom: -2px;
	margin-right: 8px;
}

#login_social li:first-child a {
	margin-right: 2%;
}

#login_footer {
	font-size: 13px;
	text-align: center;
	margin-top: 15px;
}

#login_footer,
#login_footer a {
	text-decoration: none;
	color: rgba(255,255,255,0.5);
}

.form_group {
	position: relative;
}

#email-error,
#password-error {
	position: absolute;
    margin: 0;
    top: 12px;
    right: 20px;

    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 61, 77);
}