div#options-content {
	width: 400px;
	margin: 100px auto;
	text-align: center;
}

div#options-content .logo {
	margin-bottom: 45px;
}

.logged-status span {
	font-weight: 700;
}

.logged-status a {
	color: #fff;
}

div#devices {
	margin: 30px 0;
	padding: 45px 30px;
	background-color: rgb(249,249,249);
	border-radius: 20px;
	color: rgba(201,201,201,1);
}

div#devices p {
	margin-bottom: 15px;
}

div#devices .noisli-button {
	background-color: rgb(138,220,179);
	height: 35px;
	font-size: 15px;
	line-height: 35px;
	color: rgba(255,255,255,1);
	padding: 0;
}

div #devices #web-device,
div #devices #chrome-device {
	width: 80px;
}

div #devices #ios-device {
	width: 120px;
}

ul#social-links {
	margin-top: 15px;
}

ul#social-links li a img {
	height: 20px;
	margin-left: 20px;
}

ul#social-links li:nth-child(1) a img {
	margin-left: 0;
}